.root {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-space-4);
  border-radius: var(--border-radius-full);
  white-space: nowrap;
}

.iconOnly {
  box-shadow: var(--shadow-1);
}

.withText {
  gap: var(--spacing-space-8);
  overflow: hidden;
}

.state-hover.withText,
.root:hover.withText {
  background-color: var(--elevation-surface-container);
}

.size-xs {
  --avatar-size: var(--spacing-space-20);
  --company-logo-width: var(--spacing-space-12);
  --company-logo-height: var(--spacing-space-12);
  --text-padding-right: var(--spacing-space-6);
}

.size-s {
  --avatar-size: var(--spacing-space-24);
  --company-logo-width: var(--spacing-space-16);
  --company-logo-height: var(--spacing-space-16);
  --text-padding-right: var(--spacing-space-6);
}

.size-m {
  --avatar-size: calc(var(--spacing-space-24) + var(--spacing-space-4));
  --company-logo-width: var(--spacing-space-16);
  --company-logo-height: var(--spacing-space-16);
  --text-padding-right: var(--spacing-space-6);
}

.size-l {
  --avatar-size: var(--spacing-space-32);
  --company-logo-width: var(--spacing-space-20);
  --company-logo-height: var(--spacing-space-20);
  --text-padding-right: var(--spacing-space-6);
}

.size-xl {
  --avatar-size: var(--spacing-space-40);
  --company-logo-width: var(--spacing-space-24);
  --company-logo-height: var(--spacing-space-24);
  --text-padding-right: var(--spacing-space-8);
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--border-radius-full);
}

.avatar-initials {
  background-color: var(--surfaces-surface);
  color: var(--main-primary);
}

.avatar-inverse {
  background-color: var(--surfaces-surface-inverse);
  color: var(--surfaces-on-surface-inverse);
}

.avatar-company {
  background-color: var(--surfaces-surface);
}

.avatar-image {
  background-color: var(--surfaces-surface);
}

.initials {
  text-align: center;
}

.companyLogo {
  width: var(--company-logo-width);
  height: var(--company-logo-height);
  display: block;
  object-fit: contain;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.textGroup {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-space-4);
  padding-right: var(--text-padding-right);
}

.subtext {
  color: var(--surfaces-on-surface-weakest);
}

.text {
  color: var(--surfaces-on-surface);
}
