.root {
  --tooltip-surface: var(--surfaces-surface);
  --tooltip-title: var(--surfaces-on-surface);
  --tooltip-description: var(--var-on-surface-weak);

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
  max-width: 350px;
}

.tone-inverse {
  --tooltip-surface: var(--surfaces-background-inverse);
  --tooltip-title: var(--surfaces-on-surface-inverse);
  --tooltip-description: var(--surfaces-on-surface-weakest-inverse);
}

.surface {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 100%;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-4);
  background-color: var(--tooltip-surface);
  box-shadow: var(--shadow-3);
}

.arrowSlot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 var(--spacing-16);
}

.arrow {
  width: 8px;
  height: 4px;
  background-color: var(--tooltip-surface);
}

.arrow-top .arrow {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.arrow-bottom .arrow {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.title {
  margin: 0;
  color: var(--tooltip-title);
}

.description {
  margin: 0;
  max-width: 326px;
  color: var(--tooltip-description);
}
